In [17]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, np.nan, np.nan, 8, 9],
    'C': ['foo', 'bar', 'foo', 'bar', 'foo'],
    'D': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)
df['D'] = pd.to_datetime(df['D'])

print("Original DataFrame:")
print(df)

# 1. Head and Tail
print("\nHead of the DataFrame:")
print(df.head())

print("\nTail of the DataFrame:")
print(df.tail())

# 2. Describe
print("\nStatistical Summary:")
print(df.describe())

# 3. Info
print("\nDataFrame Info:")
df.info()

# 4. Isnull and Notnull
print("\nCheck for null values:")
print(df.isnull())

print("\nCheck for non-null values:")
print(df.notnull())

# 5. Dropna
print("\nDrop rows with missing values:")
print(df.dropna())

# 6. Fillna
print("\nFill missing values with 0:")
print(df.fillna(0))

# 7. Groupby
print("\nGroup by column 'C':")
print(df.groupby('C').sum(numeric_only=True))

# 8. Apply (with lambda)
print("\nApply a lambda function to column 'A':")
print(df['A'].apply(lambda x: x*2))

# 9. Sort_values
print("\nSort DataFrame by column 'A':")
print(df.sort_values(by='A'))

# 10. Pivot_table
print("\nCreate a pivot table:")
pivot_df = pd.pivot_table(df, values='A', index=['C'], columns=['D'], aggfunc=np.sum)
print(pivot_df)

# 11. Merge
df2 = pd.DataFrame({
    'C': ['foo', 'bar', 'baz'],
    'E': [10, 20, 30]
})
print("\nMerge DataFrames:")
merged_df = pd.merge(df, df2, on='C', how='left')
print(merged_df)

# 12. Concat
print("\nConcatenate DataFrames:")
concat_df = pd.concat([df, df2], axis=0)
print(concat_df)

# 13. Dtypes
print("\nData types of each column:")
print(df.dtypes)

# 14. Unique
print("\nUnique values in column 'C':")
print(df['C'].unique())

# 15. Value_counts
print("\nValue counts for column 'C':")
print(df['C'].value_counts())

# 16. Rename
print("\nRename columns:")
df_renamed = df.rename(columns={'A': 'Alpha', 'B': 'Beta'})
print(df_renamed)

# 17. Set_index and Reset_index
print("\nSet column 'C' as index:")
df_indexed = df.set_index('C')
print(df_indexed)

print("\nReset index:")
print(df_indexed.reset_index())

# 18. Duplicate removal
print("\nCheck for duplicates:")
print(df.duplicated())

print("\nDrop duplicates:")
print(df.drop_duplicates())

# 19. Query
print("\nQuerying DataFrame where column A > 2:")
print(df.query('A > 2'))

# 20. Transform
print("\nTransform column 'A' with a custom function:")
print(df['A'].transform(lambda x: x + 10))

# 21. Melt
print("\nMelt DataFrame:")
melted_df = pd.melt(df, id_vars=['C'], value_vars=['A', 'B'])
print(melted_df)

# 22. Join
print("\nJoin DataFrames:")
joined_df = df.join(df2.set_index('C'), on='C', how='left')
print(joined_df)

# 23. Resample
print("\nResample by month (if dates were more varied):")
df_resampled = df.resample('M', on='D').sum()
print(df_resampled)

# 24. Rolling
print("\nRolling window calculation (sum over 2 periods for column 'A'):")
print(df['A'].rolling(window=2).sum())

# 25. Shift
print("\nShift column 'A' by 1 period:")
print(df['A'].shift(1))

# 26. Correlation
print("\nCorrelation between columns:")
print(df.corr(numeric_only=True))

# 27. Covariance
print("\nCovariance between columns:")
print(df.cov(numeric_only=True))

# 28. Cumulative sum
print("\nCumulative sum of column 'A':")
print(df['A'].cumsum())

# 29. Nlargest and Nsmallest
print("\n3 largest values in column 'A':")
print(df['A'].nlargest(3))

print("\n3 smallest values in column 'A':")
print(df['A'].nsmallest(3))

# 30. Explode
df_explode = pd.DataFrame({
    'A': [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
})
print("\nExplode a list-like column:")
print(df_explode.explode('A'))

Original DataFrame:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  NaN  bar 2023-01-02
2  NaN  NaN  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Head of the DataFrame:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  NaN  bar 2023-01-02
2  NaN  NaN  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Tail of the DataFrame:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  NaN  bar 2023-01-02
2  NaN  NaN  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Statistical Summary:
              A         B                    D
count  4.000000  3.000000                    5
mean   3.000000  7.333333  2023-01-03 00:00:00
min    1.000000  5.000000  2023-01-01 00:00:00
25%    1.750000  6.500000  2023-01-02 00:00:00
50%    3.000000  8.000000  2023-01-03 00:00:00
75%    4.250000  8.500000  2023-01-04 00:00:00
max    5.000000  9.000000  2023-01-05 00:00:00
std    1.825742  2.081666                  NaN

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       3 non-null      float64
 2   C       5 non-null      object
 3   D       5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 288.0+ bytes

Check for null values:
       A      B      C      D
0  False  False  False  False
1  False   True  False  False
2   True   True  False  False
3  False  False  False  False
4  False  False  False  False

Check for non-null values:
       A      B     C     D
0   True   True  True  True
1   True  False  True  True
2  False  False  True  True
3   True   True  True  True
4   True   True  True  True

Drop rows with missing values:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Fill missing values with 0:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  0.0  bar 2023-01-02
2  0.0  0.0  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Group by column 'C':
       A     B
C
bar  6.0   8.0
foo  6.0  14.0

Apply a lambda function to column 'A':
0     2.0
1     4.0
2     NaN
3     8.0
4    10.0
Name: A, dtype: float64

Sort DataFrame by column 'A':
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  NaN  bar 2023-01-02
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05
2  NaN  NaN  foo 2023-01-03

Create a pivot table:
D    2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05
C
bar         NaN         2.0         NaN         4.0         NaN
foo         1.0         NaN         0.0         NaN         5.0

Merge DataFrames:
     A    B    C          D   E
0  1.0  5.0  foo 2023-01-01  10
1  2.0  NaN  bar 2023-01-02  20
2  NaN  NaN  foo 2023-01-03  10
3  4.0  8.0  bar 2023-01-04  20
4  5.0  9.0  foo 2023-01-05  10

Concatenate DataFrames:
     A    B    C          D     E
0  1.0  5.0  foo 2023-01-01   NaN
1  2.0  NaN  bar 2023-01-02   NaN
2  NaN  NaN  foo 2023-01-03   NaN
3  4.0  8.0  bar 2023-01-04   NaN
4  5.0  9.0  foo 2023-01-05   NaN
0  NaN  NaN  foo        NaT  10.0
1  NaN  NaN  bar        NaT  20.0
2  NaN  NaN  baz        NaT  30.0

Data types of each column:
A           float64
B           float64
C            object
D    datetime64[ns]
dtype: object

Unique values in column 'C':
['foo' 'bar']

Value counts for column 'C':
C
foo    3
bar    2
Name: count, dtype: int64

Rename columns:
   Alpha  Beta    C          D
0    1.0   5.0  foo 2023-01-01
1    2.0   NaN  bar 2023-01-02
2    NaN   NaN  foo 2023-01-03
3    4.0   8.0  bar 2023-01-04
4    5.0   9.0  foo 2023-01-05

Set column 'C' as index:
       A    B          D
C
foo  1.0  5.0 2023-01-01
bar  2.0  NaN 2023-01-02
foo  NaN  NaN 2023-01-03
bar  4.0  8.0 2023-01-04
foo  5.0  9.0 2023-01-05

Reset index:
     C    A    B          D
0  foo  1.0  5.0 2023-01-01
1  bar  2.0  NaN 2023-01-02
2  foo  NaN  NaN 2023-01-03
3  bar  4.0  8.0 2023-01-04
4  foo  5.0  9.0 2023-01-05

Check for duplicates:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Drop duplicates:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
1  2.0  NaN  bar 2023-01-02
2  NaN  NaN  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Querying DataFrame where column A > 2:
     A    B    C          D
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Transform column 'A' with a custom function:
0    11.0
1    12.0
2     NaN
3    14.0
4    15.0
Name: A, dtype: float64

Melt DataFrame:
     C variable  value
0  foo        A    1.0
1  bar        A    2.0
2  foo        A    NaN
3  bar        A    4.0
4  foo        A    5.0
5  foo        B    5.0
6  bar        B    NaN
7  foo        B    NaN
8  bar        B    8.0
9  foo        B    9.0

Join DataFrames:
     A    B    C          D   E
0  1.0  5.0  foo 2023-01-01  10
1  2.0  NaN  bar 2023-01-02  20
2  NaN  NaN  foo 2023-01-03  10
3  4.0  8.0  bar 2023-01-04  20
4  5.0  9.0  foo 2023-01-05  10

Resample by month (if dates were more varied):
               A     B                C
D
2023-01-31  12.0  22.0  foobarfoobarfoo

Rolling window calculation (sum over 2 periods for column 'A'):
0    NaN
1    3.0
2    NaN
3    NaN
4    9.0
Name: A, dtype: float64

Shift column 'A' by 1 period:
0    NaN
1    1.0
2    2.0
3    NaN
4    4.0
Name: A, dtype: float64

Correlation between columns:
     A    B
A  1.0  1.0
B  1.0  1.0

Covariance between columns:
          A         B
A  3.333333  4.333333
B  4.333333  4.333333

Cumulative sum of column 'A':
0     1.0
1     3.0
2     NaN
3     7.0
4    12.0
Name: A, dtype: float64

3 largest values in column 'A':
4    5.0
3    4.0
1    2.0
Name: A, dtype: float64

3 smallest values in column 'A':
0    1.0
1    2.0
3    4.0
Name: A, dtype: float64

Explode a list-like column:
   A
0  1
0  2
0  3
1  4
1  5
2  6
2  7
2  8
2  9

<ipython-input-17-bd1929d91e10>:62: FutureWarning: The provided callable <function sum at 0x7cb19d91ee60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_df = pd.pivot_table(df, values='A', index=['C'], columns=['D'], aggfunc=np.sum)

In [23]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# Sample DataFrame for basic operations
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, np.nan, np.nan, 8, 9],
    'C': ['foo', 'bar', 'foo', 'bar', 'foo'],
    'D': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)
df['D'] = pd.to_datetime(df['D'])

# 1. DataFrame Creation and Input/Output
print("\nReading and Writing DataFrames:")
df.to_csv('output.csv')  # Write to CSV
df_from_csv = pd.read_csv('output.csv')  # Read from CSV
print("Read from CSV:")
print(df_from_csv.head())

# 2. Indexing and Selection
print("\nIndexing and Selection:")
print("Using loc:")
print(df.loc[0:2, ['A', 'C']])
print("Using iloc:")
print(df.iloc[0:2, [0, 2]])
print("Using at:")
print(df.at[1, 'A'])
print("Using iat:")
print(df.iat[1, 0])
print("Using xs:")
print(df.xs(0))
print("Sample:")
print(df.sample(3))

# 3. Advanced Data Manipulation
print("\nAdvanced Data Manipulation:")
df_reindexed = df.reindex([0, 2, 4])
print("Reindexing DataFrame:")
print(df_reindexed)
print("Stack:")
print(df.stack())
print("Unstack:")
print(df.stack().unstack())
print("Cutting data into bins:")
bins = pd.cut(df['A'].astype(float).to_numpy(), bins=3)
print(bins)
print("Get Dummies:")
dummies = pd.get_dummies(df['C'])
print(dummies)

# 4. Time Series and Date Functionality
print("\nTime Series and Date Functionality:")
print("Convert to datetime:")
df['D'] = pd.to_datetime(df['D'])
print(df['D'])
print("Resample time series data:")
df_resampled = df.resample('M', on='D').sum()
print(df_resampled)
print("Shift:")
print(df['A'].shift(1))
print("Diff:")
print(df['A'].diff())
print("Asfreq:")
print(df.set_index('D').asfreq('D'))

# 5. Aggregation and Grouping
print("\nAggregation and Grouping:")
print("Aggregate with custom function:")
agg_df = df.groupby('C').agg({'A': 'mean', 'B': 'sum'})
print(agg_df)
print("Crosstab:")
cross_tab = pd.crosstab(df['C'], df['B'])
print(cross_tab)
print("Pipe example:")
df_piped = df.pipe(lambda x: x.drop(columns=['B']))
print(df_piped)
print("Ranking values in column A:")
print(df['A'].rank())

# 6. String Operations
print("\nString Operations:")
df['C'] = df['C'].str.upper()
print("Contains 'FOO':")
print(df['C'].str.contains('FOO'))
print("Replace 'FOO' with 'BAZ':")
print(df['C'].str.replace('FOO', 'BAZ'))
print("Extract 'A' and 'B':")
df['Extracted'] = df['C'].str.extract(r'([A-Z]+)')
print(df['Extracted'])
print("Split 'C' column by 'A':")
df['Split'] = df['C'].str.split
print(df['Split'])

# 7. Window Functions
print("\nWindow Functions:")
print("Expanding sum:")
print(df['A'].expanding().sum())
print("Exponentially weighted mean:")
print(df['A'].ewm(span=2).mean())

# 8. Sparse Data Structures
print("\nSparse Data Structures:")
# sparse_df = pd.DataFrame(np.random.randn(10, 4)).to_sparse()  # Remove this line
sparse_df = pd.DataFrame(np.random.randn(10, 4))
sparse_df.iloc[0:8, :] = np.nan # Introduce sparsity by setting most values to NaN
print("Sparse DataFrame:")
print(sparse_df)

# 9. Reshaping and Pivoting
print("\nReshaping and Pivoting:")
print("Crosstab example:")
cross_tab = pd.crosstab(df['C'], df['B'])
print(cross_tab)
print("Pivoting DataFrame:")
df_pivoted = df.pivot(index='D', columns='C', values='A')
print(df_pivoted)

# 10. Miscellaneous Functions
print("\nMiscellaneous Functions:")
print("Clipping data:")
print(df['A'].clip(lower=2))
print("Evaluate expression on DataFrame:")
df['Eval'] = df.eval('A + B')
print(df['Eval'])
print("Where condition A > 3:")
print(df.where(df['A'] > 3))

# 11. Data Cleaning
print("\nData Cleaning:")
print("Replacing NaN in column A with 0:")
df['A'].replace(np.nan, 0, inplace=True)
print(df['A'])
print("Dropping column 'Eval':")
df.pop('Eval')
print(df)
print("Trimming values at input thresholds:")
print(df['A'].clip(lower=2, upper=4))

Reading and Writing DataFrames:
Read from CSV:
   Unnamed: 0    A    B    C           D
0           0  1.0  5.0  foo  2023-01-01
1           1  2.0  NaN  bar  2023-01-02
2           2  NaN  NaN  foo  2023-01-03
3           3  4.0  8.0  bar  2023-01-04
4           4  5.0  9.0  foo  2023-01-05

Indexing and Selection:
Using loc:
     A    C
0  1.0  foo
1  2.0  bar
2  NaN  foo
Using iloc:
     A    C
0  1.0  foo
1  2.0  bar
Using at:
2.0
Using iat:
2.0
Using xs:
A                    1.0
B                    5.0
C                    foo
D    2023-01-01 00:00:00
Name: 0, dtype: object
Sample:
     A    B    C          D
2  NaN  NaN  foo 2023-01-03
3  4.0  8.0  bar 2023-01-04
4  5.0  9.0  foo 2023-01-05

Advanced Data Manipulation:
Reindexing DataFrame:
     A    B    C          D
0  1.0  5.0  foo 2023-01-01
2  NaN  NaN  foo 2023-01-03
4  5.0  9.0  foo 2023-01-05
Stack:
0  A                    1.0
   B                    5.0
   C                    foo
   D    2023-01-01 00:00:00
1  A                    2.0
   C                    bar
   D    2023-01-02 00:00:00
2  C                    foo
   D    2023-01-03 00:00:00
3  A                    4.0
   B                    8.0
   C                    bar
   D    2023-01-04 00:00:00
4  A                    5.0
   B                    9.0
   C                    foo
   D    2023-01-05 00:00:00
dtype: object
Unstack:
     A    B    C                    D
0  1.0  5.0  foo  2023-01-01 00:00:00
1  2.0  NaN  bar  2023-01-02 00:00:00
2  NaN  NaN  foo  2023-01-03 00:00:00
3  4.0  8.0  bar  2023-01-04 00:00:00
4  5.0  9.0  foo  2023-01-05 00:00:00
Cutting data into bins:
[(0.996, 2.333], (0.996, 2.333], NaN, (3.667, 5.0], (3.667, 5.0]]
Categories (3, interval[float64, right]): [(0.996, 2.333] < (2.333, 3.667] < (3.667, 5.0]]
Get Dummies:
     bar    foo
0  False   True
1   True  False
2  False   True
3   True  False
4  False   True

Time Series and Date Functionality:
Convert to datetime:
0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
4   2023-01-05
Name: D, dtype: datetime64[ns]
Resample time series data:
               A     B                C
D
2023-01-31  12.0  22.0  foobarfoobarfoo
Shift:
0    NaN
1    1.0
2    2.0
3    NaN
4    4.0
Name: A, dtype: float64
Diff:
0    NaN
1    1.0
2    NaN
3    NaN
4    1.0
Name: A, dtype: float64
Asfreq:
              A    B    C
D
2023-01-01  1.0  5.0  foo
2023-01-02  2.0  NaN  bar
2023-01-03  NaN  NaN  foo
2023-01-04  4.0  8.0  bar
2023-01-05  5.0  9.0  foo

Aggregation and Grouping:
Aggregate with custom function:
       A     B
C
bar  3.0   8.0
foo  3.0  14.0
Crosstab:
B    5.0  8.0  9.0
C
bar    0    1    0
foo    1    0    1
Pipe example:
     A    C          D
0  1.0  foo 2023-01-01
1  2.0  bar 2023-01-02
2  NaN  foo 2023-01-03
3  4.0  bar 2023-01-04
4  5.0  foo 2023-01-05
Ranking values in column A:
0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
Name: A, dtype: float64

String Operations:
Contains 'FOO':
0     True
1    False
2     True
3    False
4     True
Name: C, dtype: bool
Replace 'FOO' with 'BAZ':
0    BAZ
1    BAR
2    BAZ
3    BAR
4    BAZ
Name: C, dtype: object
Extract 'A' and 'B':
0    FOO
1    BAR
2    FOO
3    BAR
4    FOO
Name: Extracted, dtype: object
Split 'C' column by 'A':
0    <bound method StringMethods.split of <pandas.c...
1    <bound method StringMethods.split of <pandas.c...
2    <bound method StringMethods.split of <pandas.c...
3    <bound method StringMethods.split of <pandas.c...
4    <bound method StringMethods.split of <pandas.c...
Name: Split, dtype: object

Window Functions:
Expanding sum:
0     1.0
1     3.0
2     3.0
3     7.0
4    12.0
Name: A, dtype: float64
Exponentially weighted mean:
0    1.000000
1    1.750000
2    1.750000
3    3.709677
4    4.642857
Name: A, dtype: float64

Sparse Data Structures:
Sparse DataFrame:
          0         1         2         3
0       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN
5       NaN       NaN       NaN       NaN
6       NaN       NaN       NaN       NaN
7       NaN       NaN       NaN       NaN
8 -1.690283  1.596771 -0.396296  2.177309
9 -1.153565  1.146647 -0.651982  0.274657

Reshaping and Pivoting:
Crosstab example:
B    5.0  8.0  9.0
C
BAR    0    1    0
FOO    1    0    1
Pivoting DataFrame:
C           BAR  FOO
D
2023-01-01  NaN  1.0
2023-01-02  2.0  NaN
2023-01-03  NaN  NaN
2023-01-04  4.0  NaN
2023-01-05  NaN  5.0

Miscellaneous Functions:
Clipping data:
0    2.0
1    2.0
2    NaN
3    4.0
4    5.0
Name: A, dtype: float64
Evaluate expression on DataFrame:
0     6.0
1     NaN
2     NaN
3    12.0
4    14.0
Name: Eval, dtype: float64
Where condition A > 3:
     A    B    C          D Extracted  \
0  NaN  NaN  NaN        NaT       NaN
1  NaN  NaN  NaN        NaT       NaN
2  NaN  NaN  NaN        NaT       NaN
3  4.0  8.0  BAR 2023-01-04       BAR
4  5.0  9.0  FOO 2023-01-05       FOO

                                               Split  Eval
0                                                NaN   NaN
1                                                NaN   NaN
2                                                NaN   NaN
3  <bound method StringMethods.split of <pandas.c...  12.0
4  <bound method StringMethods.split of <pandas.c...  14.0

Data Cleaning:
Replacing NaN in column A with 0:
0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
Name: A, dtype: float64
Dropping column 'Eval':
     A    B    C          D Extracted  \
0  1.0  5.0  FOO 2023-01-01       FOO
1  2.0  NaN  BAR 2023-01-02       BAR
2  0.0  NaN  FOO 2023-01-03       FOO
3  4.0  8.0  BAR 2023-01-04       BAR
4  5.0  9.0  FOO 2023-01-05       FOO

                                               Split
0  <bound method StringMethods.split of <pandas.c...
1  <bound method StringMethods.split of <pandas.c...
2  <bound method StringMethods.split of <pandas.c...
3  <bound method StringMethods.split of <pandas.c...
4  <bound method StringMethods.split of <pandas.c...
Trimming values at input thresholds:
0    2.0
1    2.0
2    2.0
3    4.0
4    4.0
Name: A, dtype: float64